In [53]:
import pandas as pd
import numpy as np
####

Country = "Romania"
Country_abbr = "Rom" # Pol, Hun
text_name = "7789474623"+".txt"

####


df = pd.read_csv("../data/" + Country + '_DataFrame.csv')
''' Select data frame that ends at 2020-03 '''
end_index = None
for index in range(len(df)):
    if df.iloc[index, 0] == "2020-03":
        end_index = index
        break
assert (end_index is not None)


''' Scale the data '''
def scale_series(series, mean, std):
    return (series - mean)/std
for col_num in range(1, len(df.columns)):
    df.iloc[:, col_num] = scale_series(df.iloc[:, col_num], df.iloc[end_index: , col_num ].mean(), df.iloc[end_index: , col_num ].std())

In [54]:

file_path = "./Output/" + Country_abbr +"/corr/"


dict_weight = dict()

with open(file_path+text_name, "r") as f:
    is_Weight = False
    line = f.readline()
    while len(line.strip()):
        if line.strip().startswith("_") or line.strip().startswith("-"):
            line = f.readline()
            continue
        if is_Weight:
            
            name, weight = line.strip().split(":")
            name = name.strip()
            weight = weight.strip()
            weight = float(weight)
            dict_weight[name] = weight
        else:
            if line.startswith("Weight"):
                is_Weight = True
        line = f.readline()

In [55]:
df

,Date,Term_Premium,Risk_Premium,Stock_Prices_mom%_change,Stock_Prices_mom24mma%_change,Stock_Market_Volatility,REER,Current_Account_Balance_change_yryr%,Current_Account_Balance_over_GDP,One-Day_Repo_Rate_AVG,...,Policy_Rate_&_Fed_Funds_Rate_Differential_AVG,Policy_Rate_&_Fed_Funds_Rate_Differential_EOP,Broad_Money_mo12m%_change,Velocity_of_Money_mo12m%_change,Portfolio_Flows,Foreign_Exchange_Reserve_change_yryr%,Foreign_Exchange_Reserve_over_GDP,CPI yryrl,Bank Lending yryr%,Bank_Lending_mo12m%_change
0,1995-01,NaN,NaN,NaN,NaN,NaN,-9.864130,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1995-02,NaN,NaN,NaN,NaN,NaN,-10.139484,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1995-03,NaN,NaN,NaN,NaN,NaN,-11.059188,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1995-04,NaN,NaN,NaN,NaN,NaN,-11.480165,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1995-05,NaN,NaN,NaN,NaN,NaN,-11.860655,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,2023-05,1.496314,-0.054474,-0.290749,-0.826085,0.712462,1.477147,-1.183116,0.337853,1.491119,...,0.113992,0.071601,-0.804195,0.504427,0.711053,1.325436,1.553684,0.480284,0.563611,0.202027
341,2023-06,1.646943,0.144494,0.171341,-0.671902,1.026657,1.756459,-1.153420,0.211179,1.491119,...,0.113992,0.071601,-0.811448,0.529520,-0.100382,1.573537,1.094398,0.405934,-0.527190,0.884452
342,2023-07,1.119739,0.949409,0.923259,-0.170858,-0.415812,2.157060,NaN,NaN,1.491119,...,-0.343091,-0.353656,-1.284163,NaN,0.178737,1.823612,NaN,0.250671,-1.673860,1.505047
343,2023-08,0.441906,0.931321,-0.188009,-0.193786,-0.080502,2.182011,NaN,NaN,1.491119,...,-0.343091,-0.353656,-1.143137,NaN,NaN,1.773364,NaN,0.248747,-1.707099,1.526270
344,2023-09,-1.842645,0.352506,1.349136,0.521212,-0.752129,NaN,NaN,NaN,1.491119,...,-0.343091,-0.353656,NaN,NaN,NaN,2.541688,NaN,0.132984,-0.572744,0.574242

In [56]:

df = df[["Date",*dict_weight.keys()]].dropna().reset_index()

FCI = np.matmul(df[dict_weight.keys()],np.square(list(dict_weight.values())))
Date = df["Date"]
df_output = pd.DataFrame({"Date":Date, "FCI":FCI})
df_output.to_csv("Output/" + Country_abbr+"/FCI.csv", index = False)

In [57]:
df_output

        Date       FCI
0    2008-01 -4.899108
1    2008-02 -4.633507
2    2008-03 -4.051316
3    2008-04 -3.911268
4    2008-05 -3.597981
..       ...       ...
181  2023-02  0.781331
182  2023-03  0.693989
183  2023-04  0.384513
184  2023-05  0.284699
185  2023-06  0.565420

[186 rows x 2 columns]