In [3]:
import pandas as pd
import numpy as np
####

Country = "Poland"
Country_abbr = "Pol" # Pol, Hun
text_name = "2287984510"+".txt"

####


df = pd.read_csv("../data/" + Country + '_DataFrame.csv')
''' Select data frame that ends at 2020-03 '''
end_index = None
for index in range(len(df)):
    if df.iloc[index, 0] == "2020-03":
        end_index = index
        break
assert (end_index is not None)


''' Scale the data '''
def scale_series(series, mean, std):
    return (series - mean)/std
for col_num in range(1, len(df.columns)):
    df.iloc[:, col_num] = scale_series(df.iloc[:, col_num], df.iloc[end_index: , col_num ].mean(), df.iloc[end_index: , col_num ].std())

In [4]:

file_path = "./Output/" + Country_abbr +"/corr/"


dict_weight = dict()

with open(file_path+text_name, "r") as f:
    is_Weight = False
    line = f.readline()
    while len(line.strip()):
        if line.strip().startswith("_") or line.strip().startswith("-"):
            line = f.readline()
            continue
        if is_Weight:
            
            name, weight = line.strip().split(":")
            name = name.strip()
            weight = weight.strip()
            weight = float(weight)
            dict_weight[name] = weight
        else:
            if line.startswith("Weight"):
                is_Weight = True
        line = f.readline()

In [5]:
df

,Date,Term_Premium,Risk_Premium,Stock_Prices_mom%_change,Stock_Prices_mom24mma%_change,Stock_Market_Volatility,REER,Current_Account_Balance_change_yryr%,Current_Account_Balance_over_GDP,One-Day_Repo_Rate_AVG,...,Policy_Rate_&_Fed_Funds_Rate_Differential_AVG,Policy_Rate_&_Fed_Funds_Rate_Differential_EOP,Broad_Money_mo12m%_change,Velocity_of_Money_mo12m%_change,Portfolio_Flows,Foreign_Exchange_Reserve_change_yryr%,Foreign_Exchange_Reserve_over_GDP,CPI yryrl,Bank Lending yryr%,Bank_Lending_mo12m%_change
0,1995-01,NaN,NaN,NaN,NaN,NaN,-5.719171,NaN,NaN,9.320491,...,16.093665,15.559821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1995-02,NaN,NaN,NaN,NaN,NaN,-5.638968,NaN,NaN,9.606171,...,16.512779,17.372794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1995-03,NaN,NaN,NaN,NaN,NaN,-5.537668,NaN,NaN,10.320372,...,17.832213,17.241419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1995-04,NaN,NaN,NaN,NaN,NaN,-5.574325,NaN,NaN,10.320372,...,17.628477,17.044357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1995-05,NaN,NaN,NaN,NaN,NaN,-5.080571,NaN,NaN,10.191355,...,17.657613,14.699316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,2023-05,0.120878,-0.654966,-0.275892,-0.030965,-0.041192,2.026605,-0.140185,1.091946,1.238117,...,0.154715,0.142985,-0.765179,0.403523,0.792681,0.208990,-0.176190,0.755092,-1.209541,1.597610
341,2023-06,0.404947,-0.288170,1.002251,0.518860,0.449102,2.530141,-0.104259,0.779077,1.238117,...,0.154715,0.142985,-0.557987,0.211235,0.447263,0.564957,-0.286125,0.488976,-1.205109,1.333126
342,2023-07,0.179570,0.118495,0.915831,1.043046,0.265837,2.781653,NaN,NaN,1.238117,...,-0.015065,-0.021234,-0.547602,NaN,-0.284620,0.267945,NaN,0.363561,-0.660333,0.824395
343,2023-08,-0.055198,0.086599,-0.875415,0.612175,-0.061310,2.758845,NaN,NaN,1.238117,...,-0.015065,-0.021234,NaN,NaN,NaN,0.396740,NaN,0.237351,-1.472512,1.275262
344,2023-09,-1.076438,0.222155,-0.752075,0.302336,0.416312,NaN,NaN,NaN,1.035761,...,-0.427388,-0.513889,NaN,NaN,NaN,0.437674,NaN,-0.109306,-2.231498,1.471985

In [6]:

df = df[["Date",*dict_weight.keys()]].dropna().reset_index()

FCI = np.matmul(df[dict_weight.keys()],np.square(list(dict_weight.values())))
Date = df["Date"]
df_output = pd.DataFrame({"Date":Date, "FCI":FCI})
df_output.to_csv("Output/" + Country_abbr+"/FCI.csv", index = False)

In [7]:
df_output

        Date       FCI
0    2003-12  0.875955
1    2004-01  0.869790
2    2004-02  1.027813
3    2004-03  0.983495
4    2004-04  0.968924
..       ...       ...
228  2023-02 -0.280867
229  2023-03 -0.366866
230  2023-04 -0.126021
231  2023-05 -0.168020
232  2023-06  0.249312

[233 rows x 2 columns]