In [2]:
import numpy as np
import pandas as pd

/Users/russell_a/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [12]:
df_hungary_daily = pd.read_csv("Bank Lending Rate Daily Hungary.csv", skiprows=26)
df_hungary_daily = df_hungary_daily.rename(columns = {"No. of Obs":"Date", "285": "Rate"})

In [16]:
df_hungary_monthly_avg = df_hungary_daily.groupby(pd.PeriodIndex(df_hungary_daily['Date'], freq="M"))['Rate'].mean()
df_hungary_monthly_avg.to_csv("Bank Lending Rate Month Avg Hungary.csv")

In [38]:
df_hungary_monthly_avg = pd.read_csv("Bank Lending Rate Month Avg Hungary.csv").sort_values("Date", ascending=False).reset_index(drop = True)
df_hungary_monthly_avg

        Date       Rate
0    2023-09  16.166667
1    2023-08  17.435484
2    2023-07  18.306452
3    2023-06  19.166667
4    2023-05  20.241935
..       ...        ...
280  2000-05  13.000000
281  2000-04  13.200000
282  2000-03  13.604839
283  2000-02  14.025862
284  2000-01  15.169355

[285 rows x 2 columns]

In [35]:
def mo12m_change(df):
    # first column should be date, the second column should be rate
    for i in range(len(df)-12):
        df.loc[i, "mo12m_change"] = round(df.iloc[i,1] - df.iloc[i+12,1],2)
    return df

In [41]:
mo12m_change(df_hungary_monthly_avg)
df_hungary_monthly_avg.to_csv("Bank Lending Rate mo12m change Hungary.csv")

In [59]:
df_Egypt_monthly = pd.read_csv("Bank Lending Rate Month Avg Egypt.csv").iloc[26:,:]
df_Egypt_monthly = df_Egypt_monthly.rename(columns = {"Unnamed: 0":"Date"}).sort_values("Date", ascending=False).reset_index(drop= True)
df_Egypt_monthly["Bank Lending Rate: Month Avg: Egypt"] = df_Egypt_monthly["Bank Lending Rate: Month Avg: Egypt"].astype("float")
df_Egypt_monthly = mo12m_change(df_Egypt_monthly)
df_Egypt_monthly.to_csv("Bank Lending Rate mo12m change Egypt.csv")

In [ ]:
df_Poland_monthly = pd.read_csv("Bank Lending Rate Month Avg Poland.csv").iloc[26:,:]
df_Poland_monthly = df_Poland_monthly.rename(columns = {"Unnamed: 0":"Date"}).sort_values("Date", ascending=False).reset_index(drop= True)
df_Poland_monthly["Bank Lending Rate: Month Avg: Poland"] = df_Poland_monthly["Bank Lending Rate: Month Avg: Poland"].astype("float")
df_Poland_monthly = mo12m_change(df_Poland_monthly)
df_Poland_monthly.to_csv("Bank Lending Rate mo12m change Poland.csv")

In [61]:
df_Nigeria_monthly = pd.read_csv("Bank Lending Rate Month Avg Nigeria.csv").iloc[26:,:]
df_Nigeria_monthly = df_Nigeria_monthly.rename(columns = {"Unnamed: 0":"Date"}).sort_values("Date", ascending=False).reset_index(drop= True)
df_Nigeria_monthly["Bank Lending Rate: Month Avg: Nigeria"] = df_Nigeria_monthly["Bank Lending Rate: Month Avg: Nigeria"].astype("float")
df_Nigeria_monthly = mo12m_change(df_Nigeria_monthly)
df_Nigeria_monthly.to_csv("Bank Lending Rate mo12m change Nigeria.csv")

In [62]:
df_Romania_monthly = pd.read_csv("Bank Lending Rate Month Avg Romania.csv").iloc[26:,:]
df_Romania_monthly = df_Romania_monthly.rename(columns = {"Unnamed: 0":"Date"}).sort_values("Date", ascending=False).reset_index(drop= True)
df_Romania_monthly["Bank Lending Rate: Month Avg: Romania"] = df_Romania_monthly["Bank Lending Rate: Month Avg: Romania"].astype("float")
df_Romania_monthly = mo12m_change(df_Romania_monthly)
df_Romania_monthly.to_csv("Bank Lending Rate mo12m change Romania.csv")